/* font-family: 'Londrina Outline', cursive;
 */

body{
background-color: black;
 }
.fecha{
   font-family: 'Orbitron', sans-serif;
 font-size: 26px;
 color: white;
 text-transform: uppercase;
 }

 .sombra-texto{
     text-shadow: 
     0 0 5px  blue,
     0 0 10px  blue,
     0 0 20px  blue,
     0 0 40px  blue,
     0 0 80px  blue,
     0 0 90px  blue,
     0 0 100px  blue,
     0 0 150px  blue;
 }
 .hora{
    font-family: 'Londrina Outline', cursive;
  font-size: 75px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  }